<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="sidebar-body" id="chats-sidebar-body-id">
    <ul class="list-group list-group-flush" id="chats-sidebar-body-ul">

        <li class="list-group-item" th:each="addFriReq, stat : ${addFriRequestList}" data-toggle="modal" data-target="#addFriendsRequestDialog"
            th:onclick="setAddFriendRequestModalMsg([[${addFriReq}]]);" th:id="'lgi' + ${addFriReq?.addFriendRequestId}">
            <figure class="avatar avatar-state-success">
                <img th:src="${addFriReq?.sendUserImgPath}" class="rounded-circle">
            </figure>
            <div class="users-list-body">
                <h5 th:text="${addFriReq?.sendUserName}">Patsy Paulton</h5>
                <p th:text="${addFriReq?.invitationMsg}">Traditional heading elscas sdscsd sdcsdsc</p>
                <div class="users-list-action">
                    <div class="new-message-count">1</div>
                </div>
            </div>
        </li>

        <li class="list-group-item" th:id="'lgi' + ${friUser?.friUserId}" th:onclick="sendChatBodyRequest([[${friUser?.friUserId}]]);" th:each="friUser, stat : ${friUserList}">
            <div>
                <figure th:id="'figure' + ${friUser?.friUserId}" class="avatar" th:classappend="${friUser?.notReceptMsgCount > 0} ? 'avatar-state-success' : ''">
                    <img th:src="@{/image/man_avatar3.jpg}" class="rounded-circle">
                </figure>
            </div>
            <div class="users-list-body">
                <h5 th:text="${friUser?.friUserName}">Patsy Paulton</h5>
                <p th:text="${friUser?.content}" th:id="'ulbLastText' + ${friUser?.friUserId}">Traditional heading elscas sdscsd sdcsdsc</p>
                <div class="users-list-action" th:id="'ula' + ${friUser?.friUserId}" th:style="'display:' + @{(${friUser?.notReceptMsgCount < 1} ? 'none' : 'inline-block')} + ''">
                    <div class="new-message-count" th:id="'ulanmc' + ${friUser?.friUserId}" th:text="${friUser?.notReceptMsgCount}">2</div>
                </div>
                <div class="users-list-action action-toggle" th:id="'ulaat' + ${friUser?.friUserId}" th:style="'display:' + @{(${friUser?.notReceptMsgCount > 0} ? 'none' : 'inline-block')} + ''">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="ti-more"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Open</a>
                            <a href="#" data-navigation-target="contact-information" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Add to archive</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</html>