<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div  class="sidebar-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="friUser, stat : ${friUserList}" th:onclick="sendChatBodyRequest([[${friUser?.friUserId}]]);">
            <div>
                <figure class="avatar">
                    <img th:src="@{/image/women_avatar5.jpg}" class="rounded-circle">
                </figure>
            </div>
            <div class="users-list-body">
                <h5 th:text="${friUser?.friUserName}">Harrietta Souten</h5>
                <p th:text="${friUser?.content}" th:id="'ulbLastText' + ${friUser?.friUserId}">Lorem ipsum dolor sitsdc sdcsdc sdcsdcs</p>
                <div class="users-list-action action-toggle">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="ti-more"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Open</a>
                            <a href="#" data-navigation-target="contact-information" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Add to archive</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</html>